*{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-26deg, #03a9f4 0%, #3a78b7 50%, #262626 50%, #607d8b 100%);
    filter: hue-rotate(120deg);

    animation: animate 5s linear infinite;
    
}

@keyframes animate{
    0%{
        filter: hue-rotate(0deg);
    }

    100%{
        filter: hue-rotate(360deg);
    }
}

section .box{
    width: 400px;
    height: 450px;
    background-color: aqua;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .login-form{
    width: 250px;
    display: flex;
    flex-direction: column;
}

.box .login-form input{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 8px;
    border: none;
    outline: none;
}

#btn{
    cursor: pointer;
    font-size: 15px;
}

.login-form h1{
    margin-bottom: 50px;
    text-align: center;
}

